{% extends "base.html" %}

{% block content %}
  <div class="mt-5">
    <div class="text-center">
      <h1>
        {{ dish_type }}
      </h1>
      <div class="mt-3">
        <a class="btn btn-purple" href="{% url 'kitchen:dish-type-update' pk=dish_type.id %}">Update dish type</a>
        <a class="btn btn-danger" href="{% url 'kitchen:dish-type-delete' pk=dish_type.id %}">Delete dish type</a>
      </div>
    </div>
    <hr>
    <div class="ms-3">
      <h4>All dishes in this category:</h4>
      <div class="col-6">
        <table class="table table-light bg-purple mt-4">
          <thead>
            <tr class="table-light">
              <th scope="col">Id</th>
              <th scope="col">Name</th>
              <th scope="col">Price</th>
            </tr>
          </thead>
          <tbody>
          {% for dish in dish_type.dishes.all %}
            <tr>
              <th scope="row">{{ dish.id }}</th>
              <td class="table-light">
                <a style="text-decoration: None; color: var(--ky-btn-color-purple)" href="{% url 'kitchen:dish-detail' pk=dish.id %}">{{ dish.name }}</a>
              </td>
              <td class="table-light">{{ dish.price }} $</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
