{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="col-md-4">
      <div class="row border rounded-5 p-3 bg-white shadow box-area">
        <h1 class="text-center">{{ object|yesno:"Update,Create new" }} dish type</h1>

        <form method="post" action="">
          {% csrf_token %}
          {{ form|crispy }}

          <input type="submit" value="{{ object|yesno:"Update,Create" }}" class="btn btn-purple" />
          {% if object %}
          	<a class="btn btn-danger" href="{% url 'kitchen:dish-type-detail' pk=dish_type.id %}">Cancel</a>
          {% else %}
            <a class="btn btn-danger" href="{% url 'kitchen:dish-type-list' %}">Cancel</a>
          {% endif %}
        </form>
      </div>
    </div>
  </div>
{% endblock %}
