{% extends "base.html" %}

{% block content %}
  <div class="mt-5">
    <div>
      <h1>
        Dish Type List
        <a style="margin-left: 1%" href="{% url 'kitchen:dish-type-create' %}" class="btn btn-purple link-to-page">
          Add new dish type
        </a>
      </h1>
    </div>
    <br>
    {% include "includes/search_form.html" %}
    <hr>
    <div class="container d-flex justify-content-sm-evenly custom-cont">
      {% for dish_type in dish_type_list %}
        <div class="row border rounded-5 p-3 bg-white shadow box-area">
        <div class="text-center">
          <p>{{ dish_type }}</p>
          <a class="btn btn-purple mt-2" href="{% url 'kitchen:dish-type-detail' pk=dish_type.id %}">
            Detail
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}