{% extends "base.html" %}

{% block content %}
  <div class="mt-5">
    <div class="text-center">
      <h1>
        Dish Type List
        <a style="margin-left: 1%" href="{% url 'kitchen:dish-type-create' %}" class="btn btn-purple link-to-page">
          Add new dish type
        </a>
      </h1>
    </div>
    <div class="container d-flex justify-content-center">
      {% include "includes/search_form.html" %}
    </div>
    <hr>
    <div class="container-fluid d-flex justify-content-sm-around custom-cont">
      {% for dish_type in dish_type_list %}
      <div class="row border rounded-5 p-3 bg-white shadow box-area custom-dish-type-box">
        <div class="text-center">
          <p style="font-size: 28px">{{ dish_type }}</p>
          <p>Dishes in category:</p>
          <p>{{ dish_type.dishes__count }}</p>
          <div class="mt-1">
            <a class="btn btn-lg btn-purple mt-2" href="{% url 'kitchen:dish-type-detail' pk=dish_type.id %}">
              Details
            </a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}