{% extends "base.html" %}

{% block content %}
  <div class="mt-5">
    <div class="text-center">
      <h1>
        Dish List
        <a style="margin-left: 1%" href="{% url 'kitchen:dish-create' %}" class="btn btn-purple link-to-page">
          Add new dish
        </a>
      </h1>
    </div>
    <div class="container d-flex justify-content-center">
      <br>
      {% include "includes/search_form.html" %}
    </div>
    <hr>
    <div class="container d-flex justify-content-sm-evenly flex-wrap custom-cont gap-5">
      {% for dish in dish_list %}
      <div class="row border rounded-5 p-3 bg-white shadow box-area custom-box">
        <div class="text-center">
          <p>{{ dish.name }}</p>
          <p>Price: {{ dish.price }}$</p>
        </div>
        <div style="height: 60%" class="d-flex align-items-end justify-content-center">
        <a class="btn btn-lg btn-purple mt-2" href="{% url 'kitchen:dish-detail' pk=dish.id %}">
          Details
        </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}